.framebox{
    background-color: #130d1e;


}
.topbox{
    display: flex;
    justify-content: center;
    margin: 10px 10px 30px 10px;
}

.video{
    width: 60%;
    height: 500px;
    background-color: aliceblue;
}

.video-box{
    width: 671px;
    height: 500px;
    /* width="871"*/
}
.topbox img{
    position: absolute;
    top: 80px;
    left: 70px;
    width: 170px;
    height: 70px;
}